<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ace.code" version="3.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Ace-Code</name>
  <description>Android code editor</description>
  <author email="johndelvin51@gmail.com" href="https://github.com/John4650-hub/">
    John Delvin
  </author>
  <content src="index.html" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <platform name="android">
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </config-file>
  </platform>
</widget>