body {
  background-color: #000000;
}

#editor {
  position: fixed;
  top: 60px;
  right: 0px;
  bottom: 3.2%;
  left: 0px;
  padding-bottom:0px
}

#nav {
  color: #ff00ff;
  text-align: center;
  font-family: fantasy;
  font-weight: bold;
}

button {
  width:80px;
  height: 45px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #00ff00;
  border-radius: 5px;
}

i {
  font-weight: bold;
  font-family: Arial;
}
#air-line{
  position:fixed;
  bottom:0px;
  left:0px;
  background-color:gray;
  color:white;
  width: 100%;
  font-family:Courier New;
  padding-left:30px;
  font-size:50%;
}
